@media (max-width: 768px) {

    h1{
        font-size:2rem;
    }

    .btn-book{
        width:100%;
    }

}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fef9e8;
}


.btn-book {
    background-color: #8B4513;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
}

.btn-book:hover {
    background-color: #A0522D;
}


.card {
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card-img-top{
    height: 350px;
    object-fit: cover;
}